html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
    margin: 1em 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background: #F1F1F1;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    margin: 0;
    line-height: 1.3;
}

a {
    color: inherit;
    text-decoration: none;
}
.container {
    padding: 0 15px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.site {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    width: 50%;
    padding: 0.6em 0;
    transition: .3s;
    border: solid 1px transparent;
    padding-left: 10px;
}
.sidebar a::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(images/home.svg) center center / contain no-repeat;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 20px;
    opacity: .67;
    transition: opacity .3s;
}
.sidebar .sidebar-events::before {
    background-image: url(images/messages.svg);
}
.sidebar .sidebar-messages::before {
    background-image: url(images/calendar.svg);
}
.sidebar .sidebar-groups::before {
    background-image: url(images/group.svg);
}
.sidebar a:hover::before,
.sidebar a:active::before {
    opacity: 1;
}

.sidebar a:hover,
.sidebar a:active {
    color: #000;
    border: solid 1px #DBDBDB;
    background: #FFF;
    border-radius: 3px;
    font-weight: bold;
}
.topbar {
    background: #2C3E50;
    color: #FFF;
}
.topbar-logo {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 11px 0;
}
.topbar-nav {
    text-align: center;
    padding-bottom: 16px;
    line-height: 2;
}
.topbar-nav a {
    display: inline-block;
    margin: 0 12px;
    color: rgba(255, 255, 255, 0.67);
    transition: color .3s;
}
.topbar-nav a:hover, .topbar-nav a:active {
    color: #FFFF;
}
.card {
    border: solid 1px #DBDBDB;
    background: #FFF;
    border-radius: 3px;
    margin-bottom: 15px;
}
.card-avatar {
    position: absolute;
    top: 50%;/*commence à 50% de la hauteur du contenant*/
    transform: translateY(-50%); /*translate à 50% de la taille de l'élément*/
    left: 10px;
    border-radius: 50%;
}
.card-header {
    padding: 10px;
    position: relative;
}
.card-header-avatar {
    padding-left: 65px;
}
.card-title {
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    font-size: 18px;
}
.card-date {
    color: rgba(0,0,0,0.38);
    font-size: 12px;
}
.card-body {
    padding: 0 10px 20px 10px;
}
.card-body a {
    color: #34AAFF;
    text-decoration: underline;
}
.card-body .fullwidth {
    width: calc(100% + 20px);
    display: block;
    margin-left: -10px;
    margin-right: -10px;
}
.card-body p:first-child {
    margin-top: 0;
}
.card-body p:last-child {
    margin-bottom: 0;
}
.card-footer {
    border-top: solid 1px #DBDBDB;
    background: #FBFBFB;
    display: flex;
    padding: 10px;
    font-size: 12px;
    color: #BDBDBD;
}
.card-footer a:hover {
    text-decoration: underline;
}
.card-comments {
    margin-left: auto;
}
.card-like::before,
.card-comments::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url(images/thumb-up.svg) center center / 20px 18px no-repeat;
}
.card-comments::before {
    background: url(images/comment.svg) center center / 18px 17px no-repeat;
}

.sidebar-title {
    margin-top: 30px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #000;
    font-style: 15px;
}
.sidebar-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #000;
    margin-top: 4px;
}
.friend {
    margin: 14px 0;
    display: flex;

}
.friend-avatar {
    width: 73px;
    height: 73px;
    flex: none;
    margin-right: 10px;

}
.friend-name {
    display: block;
    font-weight: bold;
    color: #000;
    font-size: 15px;
    margin-bottom: 5px;
}
.friend-add {
    font-size: 12px;
    color: #000;
    margin-top: auto;
    margin-bottom: 5px;
}
.friend-add::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 13px;
    background: center center /18px 13px no-repeat url(images/user-add.svg);
    vertical-align: middle;
    margin-right: 5px;
    transform: translateY(-2px);
}
.friend-body {
    display: flex;
    flex-direction: column;
}
.friend-connections {
    color: rgba(0,0,0,0.38);
    font-size: 12px;
}
.main {
    margin-bottom: 20px;
}
.profil {
    display: none;
}
@media only screen and (min-width: 100px) {
    .topbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;

    }
    .topbar-logo, .topbar-nav {
        padding: 0;
    }
    .topbar-nav a {
        margin: 0 20px ;
    }
}
@media only screen and (min-width: 950px) {
    .profil {
        display: block;
    }
    .site {
        display:flex;
    }
    .sidebar {
        display: block;
        width: 180px;
        flex: none;
    }
    .aside {
        flex: none;
        width: 310px;
    }
    .main {
        margin-left: 30px;
        margin-right: 30px;
        width: 100%;
    }
    .sidebar a {
        width: 100%;
    }
}