/*@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype'),
        url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}*/
* {
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 1.8;
    margin: 0;
    font-weight: 400;
}

.article {
    position: relative;
    overflow: hidden;
    margin: 50px 0;
    padding-left: 333px;
    min-height: 203px;
}
.article a {
    color: inherit;
    text-decoration: none;
}
.article a:hover {
    text-decoration: underline;
}
.article-date {
    font-weight: 300;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
}
.article-img {
    position: absolute;
    width: 308px;
    margin-right: 25px;
    left: 0;
    top: 0;
    transition: transform .5s;
}
.article-img:hover {
    transform: scale(1.1) rotate(10deg)
}
.article-img img {
    width: 100%;
    height: auto;
    margin-right: 25px;
}
.article-title {
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "Cardo", serif;
    margin: 0 0 15px 0;
}
.banniere {
    background: no-repeat center center / cover url(images/header.jpg);
    height: 427px;
}
.body {
    display: flex;
}
.container {
    margin: 0 auto;
    max-width: 940;
}
.footer {
    clear: both;
}
.main {
    background: #FFF;
    width: calc(100% - 375px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    position: relative;
    z-index: 2;
}
.sidebar {  
    background: #FBFBFB;
    font-size: 17px;
    padding: 40px;
    position: relative;
    width: 375px;
    z-index: 1;
}

.sidebar a {
    color: #9F9F9F;
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: underline;
}
.sidebar hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin: 50px 0;
}
.sidebar li {
    padding: 6px 0;
}
.sidebar li a::after {
    content: attr(data-count);
    float: right;
    background: grey;
    width: 25px;
    height: 25px;
    line-height: 25 px;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;
}
.sidebar li:first-child {
    padding-top: 0;
}
.sidebar li:last-child {
    padding-top: 0;
}
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
}
.sidebar-title {
    font-size: 30px;
    color: black;
    margin: 15px 0;
}
.sidebar-title:first-child {
    margin-top: 0;
}
.social a {
    padding: 0 12px;
    opacity: .5;
    transition: opacity .3s;;
}
.social a:hover {
    opacity: 1;
}

.topbar {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    padding: 30px 87px;
    z-index: 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
}
.topbar nav {
    float: left;
}

.topbar nav a {
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 500;
    padding: 0 53px;
    transition: .3s;
    
}
.topbar nav a:hover, .topbar nav a.active {
    color: #000;
}
.topbar .social {
    float: right;

}

@keyframes fun {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.1) rotate(10deg);
    }
}

@media screen and (max-width: 1100px) {
    .body {
        display: block;
    }
    .main {
        width: 100%;;
    }
    .sidebar {
        width: 100%;
    }
    .main .container {
        overflow: hidden;
    }
}
@media screen and (max-width: 740px) {
    .article {
        padding-left: 0;
    }
    .article-img {
        position: static;
        margin-bottom: 1rem;
        width: 100%;
        display: block;
    }
    .container {
        padding: 20px;
    }
}
@media screen and (max-width: 860px) {
    .topbar {
        position: absolute;
    }
    .topbar nav, .topbar .social{
        float: none;
        text-align: center;
    }
    .topbar nav {
        margin-bottom: 15px;
    }
    .topbar nav a  {
        display: inline-block;
        margin: 0 20px 5px 20px;
        white-space: nowrap;
    }
}