* {
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 1.8;
    margin: 0;
    font-weight: 500;
    background: #FBFBFB;
}

.article {
    position: relative;
    overflow: hidden;
    margin: 50px 0;
    padding-left: 333px;
    min-height: 203px;
}
.article a {
    color: inherit;
    text-decoration: none;
}
.article a:hover {
    text-decoration: underline;
}
.article-date {
    font-weight: 300;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
}
.article-img {
    position: absolute;
    width: 308px;
    margin-right: 25px;
    left: 0;
    top: 0;
}
.article-img img {
    width: 100%;
    height: auto;
    margin-right: 25px;
}
.article-title {
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: "Cardo", serif;
    margin: 0 0 15px 0;
}
.banniere {
    background: no-repeat center center / cover url(/images/header.jpg);
    height: 427px;
}
.container {
    margin: 0 auto;
    max-width: 940;
}
.footer {
    clear: both;
}
.main {
    background: #FFF;
    float: left;
    width: calc(100% - 375px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    position: relative;
    z-index: 2;
}
.sidebar {  
    background: #FBFBFB;
    float: right;
    font-size: 17px;
    padding: 40px;
    position: relative;
    width: 375px;
    z-index: 1;
}

.sidebar a {
    color: #9F9F9F;
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: underline;
}
.sidebar hr {
    border: none;
    background: #C4C4C4;
    height: 1px;
    margin: 50px 0;
}
.sidebar li {
    padding: 6px 0;
}
.sidebar li:first-child {
    padding-top: 0;
}
.sidebar li:last-child {
    padding-top: 0;
}
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
}
.sidebar-title {
    font-size: 30px;
    color: black;
    margin: 15px 0;
}
.sidebar-title:first-child {
    margin-top: 0;
}
.social a {
    padding: 0 12px;
    opacity: .5;
}
.social a:hover {
    opacity: 1;
}

.topbar {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    padding: 30px 87px;
    z-index: 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
}
.topbar nav {
    float: left;
}

.topbar nav a {
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 500;
    padding: 0 53px;
    
}
.topbar nav a:hover, .topbar nav a.active {
    color: #000;
}
.topbar .social {
    float: right;

}


