/* 2CC09C */
:root {
    --topbar-color: #2CC09C;
    --topbar-background: #212529
}
.topbar {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: #212529;
    color: #FFF;
}
.topbar a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}
.topbar li {
    padding: 0 8px;
}
.topbar li ,
.topbar a {
    display: flex;
    align-items: center;
    height: 40px;
}
.topbar svg {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}
.topbar ul {
    display: flex;
    justify-content: space-between;
}
.topbar .topbar_lang {
    margin-left: auto;
}
.topbar_infos {
    background-color: var(--topbar-color);
}
.topbar_links svg{
    color: var(--topbar-color);
}
.topbar_links a:hover {
    color: var(--topbar-color);
}
.topbar_lang a::after {
    content: '';
    display: inline-block;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #FFF;
    width: 0;
    height: 0;
    margin-left: 6px;
}
.topbar .topbar_container {
    max-width: 1016px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 720px) {
    .topbar {
        font-size: 14px;
        background: linear-gradient(to right, var(--topbar-color),var(--topbar-color) 50%, var(--topbar-background) 50.01%, var(--topbar-background));
    }
    .topbar_container {
        display: flex;
        justify-content: space-between;
        background-color: var(--topbar-background);
    }
    .topbar li, 
    .topbar a {
        height: 55px;
    }
    .topbar svg {
        width: 16px;
        height: 16px;
    }
    .topbar_infos li:last-child {
        background-color: #212529;
        padding-left: 0;
    }
    .topbar_infos li:last-child::before {
        content: '';
        margin-right: 15px;
        display: inline-block;
        border-right: solid 30px transparent;
        border-bottom: solid 55px var(--topbar-color);
    }
    .topbar_infos li:last-child svg {
        color: var(--topbar-color);
    }

}